$base-color: #ffae00;
$num: 4;


@while $num > 0 {
    
    $angle:  $num*3600/100;
    $this-color: adjust-hue($base-color, $angle);

    .rainbow-banner div:nth-of-type(#{$num}) {
        border-top: 10px solid darken($this-color, 10);
    };
    
    $num: $num - 1;
}