.blog-posts {
    
    .title-row {
        padding-top: 100px;
        padding-bottom: 80px;
        
        h2 {
            color: #3b4954;
            font-size: 36px;
        }
        
        h2:after{
            content: "";
            display: block;
            width: 50px;
            height: 5px;
            margin: 10px auto 0px ;
            background-color: #eeeeee;
        }
    }
    
    .content-row {
        padding-bottom: 70px;
                
        .post {
            
            img {
                margin: auto;
            }

            h4 {
                margin-top: 30px;
                margin-bottom: 20px;
                font-size: 24px;
                color: #02baab;
            }

            p {
                font-size: 14px;
            }

            .learn-more {
                border-bottom: 1px solid #c3c3c3;
                padding-bottom: 30px;
                width: 370px;
                margin: 0 auto;

                h6 {
                    margin-top: 20px;
                    font-size: 14px;
                    color: #02baab;
                }
            }
        }
        
        .active {
            h4 {
                color: #6d0fae;
            }
            
            .learn-more {
                
                h6 {
                    color: #6d0fae;
                }
            }
        }
        
    }
}