.features {
    background-color: #ffffff;
    color: #3b4954;
    
    .title-row {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    h5 {
        font-size: 24px;
        font-weight: bold;
    }
    p {
        font-size: 14px;
    }
    
    .features-first-row {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .features-second-row {
        padding-top: 30px;
        padding-bottom: 90px;
    }
}